$color-text: black;
$color-bg: #cbe4eb;
$color-primary: #fc9b7a;
$color-primary-darker: darken($color-primary, 5%);
// $color-primary: #fc9b7a;
// $color-secondary: #51a1c4;
$color-secondary: #466675;
$color-blue: #698d9d;
